<div class="col-md-12">
  <% if users.exists? %>
    <table class='table'>
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% users.each do |user| %>
        <tbody>
          <tr>
            <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
            <td><%= user.name %></td>
            <td>フォロー数: <%= user.followings.count %></td>
            <td>フォロワー数: <%= user.followers.count %></td>
            <td><%= link_to 'Show', user %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>



<% @results.each do |result| %>
            <li>
              <% if result.is_a?(User) %>
                ユーザー: <%= link_to result.name, user_path(result) %>
              <% elsif result.is_a?(Book) %>
                書籍: <%= link_to result.title, book_path(result) %>
              <% end %>
            </li>
          <% end %>