<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
              <% if @user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@book[:id]), class:"btn btn-success" %></td>
                <td><%= link_to "Destroy", book_path(@book[:id]), method: :delete, "data-confirm" => "本当に消しますか？", class:"btn btn-danger"%></td>
              <% end %>

            <td><%= render 'books/favo', obj: @book %></td>
            <%# コメント件数表示　%>
            <td>コメント数：<%= @book.book_comments.count %></td>

        </tr>
        </table>
        <%# コメント一覧　%>
        <table>
        <% @book.book_comments.each do |book_comment| %>
          <tr>
            <td><%= image_tag book_comment.user.get_profile_image, size:"50x50" %><br>
              <%= link_to book_comment.user.name, book_comment.user %>
            </td>

            <td><%= book_comment.comment %></td>

            <td>
              <% if book_comment.user == current_user %>
                <%= link_to "削除", book_book_comment_path(book_id: @book.id, id: book_comment.id), method: :delete, class:"btn btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      
      <%# コメントフォーム　%>
      
        <%= form_with model: [@book, @book_comment], local: true do |f| %>
          <% if @book_comment.errors.any? %>
            <div class="alert alert-danger">
              <ul>
                <% @book_comment.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "w-100" %>
          <%= f.submit "送信する" %>
        <% end %>
      
    </div>
  </div>
</div>